{% for key in vulns %}
{% if vulns[key] != {} %}

# {{ key }}
{% for vuln in vulns[key] %}

## {{ key }} Vulnerability {{ loop.index }} instances

```
{{ vulns[key][vuln]["tree"] }} 
```
{% endfor %}
{% endif %}
{% endfor %}