{% for key in secrets %}
{% if secrets[key] != [] %}
{% for s in secrets[key] %}
## {{ key.lower().capitalize() }} {{ loop.index }} - {{ s["description"] }}

### Match

{{ s["match"] }}

### Location

File {{ s["file"] }} from line {{ s["line_start"] }} to line {{ s["line_end"] }}

### Commit flaged

{{ s["commit"] }}

{% endfor %}
{% endif %}
{% endfor %}